ul,li{
  list-style:none !important;
}
header{
  background-color: black;
  color:white;
}
header li{
 padding:1rem
}
header ul{
  display: flex;
}
.d-none{
  display:none !important;
}
.d-inline-block{
  display:inline-block !important;
}
.d-flex{
  display:flex !important;
}
.flex-column{
  flex-direction: column;
}

.cursor-pointer{
  cursor:pointer;
}